
div {
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif; 
    padding: 20px;
    background: linear-gradient(120deg, #ffcc00, #ff1e56); 
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 900px;
  }
  

  h1 {
    font-size: 2.5em;
    text-transform: capitalize;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-bottom: 20px;
  }
  

  img {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border: 3px solid #333; 
    border-radius: 50%; 
    background: #fff;
  }
  
  
  h2 {
    font-size: 1.8em;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #f7f7f7;
    border-bottom: 2px solid #fff;
    display: flex;
    padding-bottom: 5px;
  }
  
  
  ul {
    list-style: none; 
    padding: 0;
    margin: 10px 0;
  }
  
  li {
    font-size: 1.2em;
    margin: 5px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    text-transform: capitalize; 
    transition: transform 0.2s ease, background 0.3s ease;
  }
  
  li:hover {
    transform: scale(1.05); 
    background: rgba(255, 255, 255, 0.2); 
  }
  
 
  p {
    font-size: 1.5em;
    color: #0075be;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
  